.user-table {
  border-radius: 12px;
  padding: 12px 8px;
  background-color: #fff;
  box-shadow: 0 20px 20px -10px #ddd;
}

.user-table__content {
  width: 100%;
  border-collapse: collapse;
}

.user-table__header-cell {
  padding: 8px 12px;
  color: #999;
  font-weight: 400;
  text-align: left;
}

.user-table__header-cell_date {
  text-align: center;
}

.user-table__cell {
  padding: 8px 12px;
  box-shadow: inset 0 1px 0 0 #ccc;
}

.user-table__cell_username {
  color: #78a3ff;
  font-weight: 700;
  width: 25%;
}

.user-table__cell_email {
  width: 30%;
}

.user-table__cell_date {
  width: 20%;
  text-align: center;
}

.user-table__cell_rating {
  width: 10%;
  text-align: center;
}

.user-table__cell_action {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 82%;
}

.user-table__delete-button {
 width: 30px;
 height: 24px;
 margin: 0;
 border: 0;
 padding: 0;
 background: transparent url('./user-table__delete-icon.svg') no-repeat 50%;
 text-align: center;
 cursor: pointer;
}