.search-field {
  display: block;
  box-sizing: border-box;
  width: 100%;
  border: 0;
  border-radius: 8px;
  padding: 8px 8px 8px 40px;
  background: #eee url('./search-field__icon.svg') no-repeat 8px 50%;
  font-size: 16px;
}

.search-field:focus {
  box-shadow: 0 0 0 2px #78a3ff;
  outline: 0;
}